@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

img{
	border: 0;
}


#header{
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: 4%;
	margin-top: 0%;
}



#intro{
	font-family: 'Open Sans', sans-serif;
	background-color: #FFC34F;
	color: #4467B2;
	height: 100%;
	margin: 0 auto;
	padding: 1% 10%;
	text-align: center;
}

#second{
	background-color: #3BBE70;
	color: #4467B2;
	
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.center{
	font-size: 1em;
	text-align: center;
	padding: 10%;
}

.circle{
	border-radius:50% 50% 50% 50%;
	width:200px;
	height:200px;
	margin: 5%;
	
}

.left{
	float: left;
}

.mid{
	margin-left: 10px;
}

.right{
	margin-right: 00px;
	float: right;
}

.circle img {
  margin-right: 14px;
  display: block;
  float: left;
  box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
}


#action{
	margin-top: 40%;
}













/* STRUCTURE */

#pagewrap {
	width: 100%;
	margin: 2% auto;
}

#content {
	width: 30%;
	float: left;
	padding: 1% 1%;
}

#middle {
	width: 30%; /* Account for margins + border values */
	float: left;
	padding: 1% 1%;
	margin: 0%;
}

#sidebar {
	width: 30%;
	padding: 1% 1%;
	float: left;
}
footer {
	clear: both;
	padding: 0 3%;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0%;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0%;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}


