@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

img{
	border: 0;
}

h3{
	margin: 1% 16%;
}


#intro{
	font-family: 'Open Sans', sans-serif;
	background-color: #FFC34F;
	color: #4467B2;
	height: 100%;
	margin: 0 auto;
	padding: 1% 10%;
	text-align: center;
}

#second{
	background-color: #3BBE70;
	color: #4467B2;
	
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.center{
	font-size: 1em;
	text-align: center;
	padding: 10%;
}

.circle{
	border-radius:50% 50% 50% 50%;
	width:200px;
	height:200px;
	margin: 5%;
	
}

.left{
	float: left;
}

.mid{
	margin-left: 10px;
}

.right{
	margin-right: 00px;
	float: right;
}

.circle img {
  margin-right: 14px;
  display: block;
  float: left;
  box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
}

td{
	margin:10%;
}

